<mat-toolbar color="primary" class="toolbar" fxLayout>
  <button mat-icon-button (click)="toogleSideNav.emit()" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    <h1 class="title">SIIPAPX CxC</h1>
  </div>
  <span fxFlex></span>
  <ng-container *ngIf="isLoggedIn$ | async">
    <div
      class="actions"
      fxHide.lt-md
      fxLayoutGap="10px"
      fxLayoutGap.lt-md="2px"
    >
      <button
        mat-icon-button
        matTooltip="Localizar Factura"
        (click)="lookupFactura()"
      >
        <mat-icon>search</mat-icon>
      </button>

      <a
        mat-button
        routerLink="/analytics"
        routerLinkActive="router-link-active"
      >
        <mat-icon>analytics</mat-icon>
        <span>Análisis</span>
      </a>
      <a
        mat-button
        [routerLink]="'/clientes'"
        routerLinkActive="router-link-active"
      >
        <mat-icon>people</mat-icon>
        <span>Clientes</span>
      </a>

      <a
        mat-button
        [routerLink]="'/credito'"
        routerLinkActive="router-link-active"
        [disabled]="hasRole('ROLE_CXC')"
      >
        <mat-icon>dynamic_feed</mat-icon>
        <span>Crédito</span>
      </a>
      <a
        [routerLink]="'/contado'"
        routerLinkActive="router-link-active"
        mat-button
        >Contado</a
      >
      <a
        [routerLink]="'/cheques'"
        routerLinkActive="router-link-active"
        mat-button
        >Cheques</a
      >
      <a
        [routerLink]="'/juridico'"
        routerLinkActive="router-link-active"
        mat-button
        >Jurídico</a
      >
      <a
        mat-button
        [routerLink]="'/depositos'"
        routerLinkActive="router-link-active"
      >
        <mat-icon>source</mat-icon>
        <span>Depósitos</span>
      </a>
    </div>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled *ngIf="displayName$ | async as name">
        <span>{{ name }}</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>settings</mat-icon>
        <span>Cuenta</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>notifications</mat-icon>
        <span>Notificaciones</span>
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Salir</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
