<mat-toolbar color="primary" class="toolbar" fxLayout>
  <button mat-icon-button (click)="toogleSideNav.emit()" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    <h1 class="title">CxC App</h1>
  </div>
  <span fxFlex></span>
  <div class="actions" fxHide.lt-md fxLayoutGap="10px" fxLayoutGap.lt-md="2px">
    <a href="/credito" mat-button>
      <mat-icon>dynamic_feed</mat-icon>
      <span>Crédito</span>
    </a>
    <a href="#" mat-button>Contado</a>
    <a href="#" mat-button>Mostrador</a>
    <a href="#" mat-button>Cheques</a>
    <a href="#" mat-button>Jurídico</a>
  </div>
  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
