<nx-papelsa-main-page></nx-papelsa-main-page>
<!-- <mat-toolbar class="toolbar" color="primary">
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    *ngIf="mobileQuery.matches"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">Responsive App</h1>
</mat-toolbar>
<mat-sidenav-container
  class="main-container"
  [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
>
  <mat-sidenav
    #sidenav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="true"
    [fixedTopGap]="60"
  >
    This is the SideNav
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- <nx-papelsa-main-page></nx-papelsa-main-page> -->
