@import 'theme.scss';
@import '../../../node_modules/ag-grid-community/src/styles/ag-grid.scss';
@import '../../../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss';

.ag-theme-alpine {
  @include ag-theme-alpine(
    (
      odd-row-background-color: #f4f8f8,
    )
  );
}
/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
.mat-nav-list {
  .router-link-active {
    color: rgba(16, 37, 107, 0.87);
    background-color: rgb(248, 246, 246);
  }
}
*/

.mat-subtitle {
  margin-top: -15px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.pad-right {
  padding-right: 5px;
}
.pad-left {
  padding-left: 5px;
}
.pull-right {
  margin-left: auto;
}
.pull-left {
  margin-left: auto;
}

.router-link-active {
  // background-color: mat-color($accent, default-contrast);
  color: mat-color($accent);
}
