@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
);

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// $typography is an **optional** argument for the mat-core
@include mat-core($typography);

$primary: mat-palette($mat-orange, 800, 100, 900);
$accent: mat-palette($mat-light-blue, 600, 100, 900);
$warn: mat-palette($mat-red, 600, 100, 900);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme(
  $theme,
  $typography
); // $typography is an **optional** argument for the covalent-theme

.warn-cell {
  // font-size: 1rem;
  color: mat-color($warn);
  // background-color: mat-color($accent, default-contrast);
  // background-color: silver;
}
.accent-cell {
  color: mat-color($accent);
}

.warn-grid-row {
  color: mat-color($warn);
}
.accent {
  color: mat-color($accent);
}
